<configuration>
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="transportClientEndpointBehavior" type="Microsoft.ServiceBus.Configuration.TransportClientEndpointBehaviorElement, Microsoft.ServiceBus, Version=1.8.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </behaviorExtensions>
      <bindingElementExtensions>
        <add name="netMessagingTransport" type="Microsoft.ServiceBus.Messaging.Configuration.NetMessagingTransportExtensionElement, Microsoft.ServiceBus, Version=1.8.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </bindingElementExtensions>
      <bindingExtensions>
        <add name="basicHttpRelayBinding" type="Microsoft.ServiceBus.Configuration.BasicHttpRelayBindingCollectionElement, Microsoft.ServiceBus, Version=1.8.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="webHttpRelayBinding" type="Microsoft.ServiceBus.Configuration.WebHttpRelayBindingCollectionElement, Microsoft.ServiceBus, Version=1.8.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="ws2007HttpRelayBinding" type="Microsoft.ServiceBus.Configuration.WS2007HttpRelayBindingCollectionElement, Microsoft.ServiceBus, Version=1.8.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="netTcpRelayBinding" type="Microsoft.ServiceBus.Configuration.NetTcpRelayBindingCollectionElement, Microsoft.ServiceBus, Version=1.8.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="netMessagingBinding" type="Microsoft.ServiceBus.Messaging.Configuration.NetMessagingBindingCollectionElement, Microsoft.ServiceBus, Version=1.8.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </bindingExtensions>
    </extensions>
    <behaviors>
      <endpointBehaviors>
        <behavior name="serviceBusCredentialBehavior">
          <transportClientEndpointBehavior>
            <tokenProvider>
              <sharedSecret issuerName="serviceaccount" issuerSecret="VHHGXtBjn3Zp0wDD6XvDSCa8I4iUl5/OWMGPPbkNbKY=" />
            </tokenProvider>
          </transportClientEndpointBehavior>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <netMessagingBinding>
        <binding name="binaryEncodedSoapEnvelopeBinding" />
      </netMessagingBinding>
      <customBinding>
        <binding name="textEncodedMessageBodyBinding">
          <webMessageEncoding>
            <readerQuotas maxDepth="2147483647"
                                    maxStringContentLength="2147483647"
                                    maxArrayLength="2147483647"
                                    maxBytesPerRead="67108864"
                                    maxNameTableCharCount="2147483647" />
          </webMessageEncoding>
          <netMessagingTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <clear />
      <!-- Use this endpoint if the receiver is Thick client or REST based -->
      <endpoint
        name="TextEncodedMessageBody"
        address="sb://a372wabs.servicebus.windows.net/Jerry"
        binding="customBinding"
        bindingConfiguration="textEncodedMessageBodyBinding"
        contract="System.ServiceModel.Routing.ISimplexDatagramRouter"
        behaviorConfiguration="serviceBusCredentialBehavior" />
      <!-- Use this endpoint if the receiver is a WCF service -->
      <endpoint
        name="BinaryEncodedSoapEnvelope"
        address="sb://a372wabs.servicebus.windows.net/Jerry"
        binding="netMessagingBinding"
        bindingConfiguration="binaryEncodedSoapEnvelopeBinding"
        contract="System.ServiceModel.Routing.ISimplexDatagramRouter"
        behaviorConfiguration="serviceBusCredentialBehavior" />
    </client>
  </system.serviceModel>
</configuration>