<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

  <connectionStrings>
    <add name="persistanceStore" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=AppFabricPersistenceDB;Integrated Security=True;Asynchronous Processing=True"/>
  </connectionStrings>
  
  <system.serviceModel>

    <behaviors>
      <serviceBehaviors>
        <behavior>
          <sqlWorkflowInstanceStore connectionStringName="persistanceStore" />
          
          <serviceMetadata httpGetEnabled="true"/>
         
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
